$layout-width: 600px;
$header-height: 70px;

//colors
$link: #38c6fb;
$w: #fefefe;
$d: #333;
$b: black;
$footer-bg: #f2f2f2;
$footer: #bfbfbf;
$accent: #1a1a1a;
$btn: #fefefe;
$footer-country: #999;
$g: grey;
$main-bg: #e9eee2;